@model GradeCalculator.ViewModels.PredmetVM

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewBag.SubjectName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prosjek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prosjek)
        </dd>
    </dl>

    <h3>Ocijene</h3>
    <table class="table">
        @foreach (var item in Model.Ocjenas)
        {
            <tr>
                @item.Vrijednost
            </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("Nazad", "SubjectsByYear", new { id = Model.GodinaId }, new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("Izračunaj prosjek", "CalculateAverage", new { id = Model.Idpredmet }, new { @class = "btn btn-primary" })
</div>
